.red {
    color: red;
}
.white {
    color: white;
}
.black {
    color:black;
}
.blue {
    color:blue;
}
.tennmei {
    font-size: 33px;
    font-style: normal;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #ff0000;
}
.catch {
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #c59103;
}
.syoukai {
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}
